name: Deploy Microservices

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to DigitalOcean Droplet
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.DO_HOST }}
          username: ${{ secrets.DO_USER }}
          password: ${{ secrets.DO_PASSWORD }}   # or use key: ${{ secrets.DO_SSH_KEY }}
          port: 22
          script: |
            set -e
            mkdir -p /srv/url-shortner
            cd /srv/url-shortner

            if [ ! -d ".git" ]; then
              git clone https://github.com/nithin-daniel/url-shortner-microservice.git .
            else
              git fetch --all
              git reset --hard origin/master
            fi

            cd server
            
            # Create .env file with secrets
            cat > .env << EOF
            JWT_SECRET=${{ secrets.JWT_SECRET }}
            RABBITMQ_URL=${{ secrets.RABBITMQ_URL }}
            AUTH_SERVICE_PORT=${{ secrets.AUTH_SERVICE_PORT }}
            AUTH_VALIDATOR_PORT=${{ secrets.AUTH_VALIDATOR_PORT }}
            URL_SERVICE_PORT=${{ secrets.URL_SERVICE_PORT }}
            EMAIL_PORT=${{ secrets.EMAIL_PORT }}
            GMAIL_USER=${{ secrets.GMAIL_USER }}
            GMAIL_APP_PASSWORD=${{ secrets.GMAIL_APP_PASSWORD }}
            EOF
            
            docker compose down
            docker compose up -d --build
